* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #202020;
  height: 8vh;
  
}
.btn-linkedin{
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
main {
  background: url("./bg.jpg") no-repeat center center;
  background-size: cover;

  background-attachment: fixed;
  color: #fff;
  font-family: 'Arial Narrow Bold', sans-serif;
  position: relative;
  display: flex;
  padding: 70px 15px 540px 60px;
}

.textmain{
  padding: 30px 15px 30px 0px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

  .nav-list {
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
}

.nav-list.active {
  transform: translateX(0);
}

h1{
  color: rgb(122, 122, 122);
}
