* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    align-items: center;
    color: #202020;
}

.logo {
    font-weight: 900;
    font-size: 30px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 30px;
    color: #202020;
    text-decoration: none;
    transition: 1s background;
}



.nav-itens>li>a:hover {
    color: #C0C0C0;
    transition: 1s background;
}

.container{

   width: 980px;
   padding: 20px;
   margin: 0 auto;
}

.posts{
    width: 760px;
    background-color: #C0C0C0;
    float: left;
}

.post{
    padding: 20px;
}

.barra-lateral {
    width:140px;
    background-color: #C0C0C0;
    float: right;
    padding: 20px;
}
